# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.userprefs
*.usertasks

# Rider
.idea/

# NuGet packages
*.nupkg
*.snupkg
!**/packages/build/
*.nuget.props
*.nuget.targets

# Test results
[Tt]est[Rr]esult*/
[Tt]est[Rr]eports/
coverage*.json
coverage*.xml
coverage*.info

# macOS
.DS_Store

# Windows
Thumbs.db
